:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/*Headings*/
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-decoration: underline;
  color: white;
  font-family: "Myriad Pro Regular";
}

h2 {
  font-family: "Myriad Pro Regular";
}

/*Paragraphs*/
p {
  font-family: sans-serif;
  font-size: 14pt;
}

p:hover {
  color: white;
  cursor: pointer;
}

/*list*/
li {
  list-style-type: none;
  font-size: 14pt;
}